.toy-robot {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.toy-robot-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.toy-robot-image.E {
    background: url('../images/e.png') no-repeat center;
    background-size: 100%;
    background-size: contain;
}

.toy-robot-image.W {
    background: url('../images/w.png') no-repeat center;
    background-size: 100%;
    background-size: contain;
}

.toy-robot-image.N {
    background: url('../images/n.png') no-repeat center;
    background-size: 100%;
    background-size: contain;
}

.toy-robot-image.S {
    background: url('../images/s.png') no-repeat center;
    background-size: 100%;
    background-size: contain;
}