.App-Header {
  background-color: black;
  color: white;
}

.App-Sidebar {
  border-right: 1px solid #D3D3D3;
}

.App-Container {
  height: 90vh;
  display: flex;
}

.Output-Component > pre{
  background-color: 	#D3D3D3;
  border-radius: 2px;
}