.app-sidebar {
  border-right: 1px solid #D3D3D3;
}

.app-container {
  height: 90vh;
  display: flex;
}

.output-component > pre {
  background-color: #D3D3D3;
  border-radius: 2px;
}

.info-icon {
  height: 15px;
  width: 15px;
  margin-bottom: 3px;
}